<div class="nested-fields">
    <div>
        <%= f.label :author %>
        <%= f.text_field :author_id %>
    </div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>