<div class="card">
  <div class="card-body">
    <small><%= review %></small>
    <h5>
      <% review.rating.times do |i| %>
        <i class="bi bi-star-fill"></i>
      <% end %>
      <p><%= review.review %></p>
    </h5>
  </div>
</div>

<div class="p-1"></div>